
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><i class="fa-solid fa-video"></i>
        {{ filme.id ? 'Edite o filme':'Insira o filme do seu interesse!'}}</span>
    </div>
  </nav>
<form class="container">
  <form #filmeForm = "ngForm" (ngSubmit) = "OnSubmit()">
    <div clss=" row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success==true">
          Filme salvo/ atualizado com sucesso! <a href="#" class="alert-link"></a>
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of error">
          {{erro}} <a href="#" class="alert-link"></a>
        </div>
      </div>

    </div>
    <div class="row" *ngIf = "filme.id">
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Id</label>
        <input type="text" class="form-control" id="inputId" [ngModel]="filme.id" name="id">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Data de cadastro</label>
        <input type="text" class="form-control" id="inputData" [ngModel]="filme.data" name="data" >
      </div>
    </div>
    
    <div class="col-12">
      <label for="nome" class="form-label">Título do filme *</label>
      <input type="text" class="form-control" id="inputTitulo" [(ngModel)]="filme.titulo" name="titulo" >
    </div>

    <div class="col-12">
        <label for="nome" class="form-label">Diretor *</label>
        <input type="text" class="form-control" id="inputNome"  >
    </div>
    
    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Ano de lançamento</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Digite o ano" 
      [(ngModel)]="filme.ano" name="ano">
    </div>
    <div class="col-md-6">
            <label for="inputAddress" class="form-label"> Gênero do filme *</label>
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <select class="form-select" id="inlineFormSelectPref">
              <option selected>Escolha o gênero...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
    </div>
    <div class="form-group col-sm-12">
        <label for="nome" class="form-label">Descreva o que achou do filme*</label>
          <textarea type="POST" name="resumo_filme" id="input" class="form-control" rows="3" cols="63" 
          placeholder=" Digite suas considerações sobre este filme " required="required" [(ngModel)]="filme.sinopse" name="sinopse" >
        </textarea >
        <div class="row">
            <div class="col-md-6">
              <br>
                <button type="submit" class="btn btn-success ml-3" *ngIf="!filme.id" >
                  <i class="fa-solid fa-paper-plane"  ></i > Enviar </button>
                    <a routerLink="/filme-visualiza"></a>

                  <button type="submit" class="btn btn-primary ml-3" *ngIf="filme.id">
                    <i class="fa fa-refresh" ></i> Atualizar </button>
                
                <button type="submit" class="btn btn-danger ml-3" (click) = "voltarParaLista()">
                  <i class="fa fa-arrow-alt-circle-left" ></i> Voltar </button>
              </div>
        </div>
    </div>
    
</form>

    