<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Introdução</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home-ferramenta">Ferramentas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home-funcionalidades">Funcionalidades</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-10">
        <h1><div class="display-6 text-center">Ferramentas usadas neste artefato</div></h1><br> 
        <table class ="table" class="tab-td">
            <thead>
              
            </thead>
            <tbody >
              <tr>
                <th scope="row "></th>
                <td><a href="https://www.jetbrains.com/pt-br/idea/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/intelij.jpg" width="100%\9"/></a></td>
                <td><a href="https://astah.net/products/free-student-license/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/astah.jpg" width="100%\9"/></a></td>
                <td><a href="https://spring.io/projects/spring-boot" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/spring boot.jpg" width="100%\9"/></a></td>
                <td><a href="https://angular.io/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/angular.jpg" width="100%\9"/></a></td>
                <td><a href="https://www.docker.com/get-started/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/docker.jpg" width="100%\9"/></a></td>
            </tr>
              <tr>
                <th scope="row border:none"></th>
                <td><a href="https://www.oracle.com/br/java/technologies/downloads/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/java jdk.jpg" width="100%\9"/></a></td>
                <td><a href="https://www.lucidchart.com/pages/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/lucidchart.jpg" width="100%\9"/></a></td>
                <td><a href="https://www.typescriptlang.org/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/ts.jpg" width="100%\9"/></a></td>
                <td><a href="https://junit.org/junit5/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/junit.jpg" width="100%\9"/></a></td>
                <td><a href="https://site.mockito.org/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/mockito.jpg" width="100%\9"/></a></td>
              </tr>
              <tr>
                <th scope="row border:none"></th>
                <td><a href="https://www.h2database.com/html/main.html" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/h.jpg" width="100%\9"/></a></td>
                <td><a href="https://www.mysql.com/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/mysql.jpg" width="100%\9"/></a></td>
                <td><a href="https://flywaydb.org/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/flyaway.jpg" width="100%\9"/></a></td>
                <td><a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/js.jpg" width="100%\9"/></a></td>
                <td><a href="https://swagger.io/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/swagger.jpg" width="100%\9"/></a></td>
              </tr>
              <tr>
                <th scope="row border:none"></th>
                <td><a href="https://nodejs.org/en/download" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/node js.jpg" width="100%\9"/></a></td>
                <td><a href="https://oauth.net/2/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/oauth.jpg" width="100%\9"/></a></td>
                <td><a href="https://code.visualstudio.com/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/vscode.jpg" width="100%\9"/></a></td>
                <td><a href="https://www.postman.com/" parametro="ferramentas.png"  ><img class ="img-200-200" src="/assets/ferramentas/postman.jpg" width="100%\9"/></a></td>

              </tr>
            </tbody>
          </table>

    </div>
   
    <div class="col-md-2">
        <br>
        <h1 class="text-center"> O que tem neste artefato?</h1>
    </div>
        
   