<div class="row">
    <div class="col-md-6">
        <br>
        <h1 class="text-center"> O que tem neste artefato?</h1>
        <div class="container">
            <img src="assets/foto-home/ferramentas.png" width="100%\9">
          </div>
    </div>
   
    <div class="col-md-6">
        <br>
     <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-6"><h4 ><i class="fa-solid fa-link"></i> Links correspondentes</h4></th>
                <th scope="col-4"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a  href="https://astah.net/products/free-student-license/" class="disabled">Astah</a></td>
                <td>Lucidchart</td> 
            </tr>
            <tr>
                <td>VScode</td>
                <td>Intelij</td> 
            </tr>
            <tr>
                <td>Angular</td>
                <td>Postmam</td> 
            </tr>
            <tr>
                <td>Java JDK</td>
                <td>Spring Boot</td> 
            </tr>
            <tr>
                <td>Docker</td>
                <td>Nodejs</td> 
            </tr>
            <tr>
                <td>H2</td>
                <td>MySql</td> 
            </tr>
            <tr>
                <td>OAuth2</td>
                <td>Junit</td> 
            </tr>
            <tr>
                <td>Mockito</td>
                <td>Swagger</td> 
            </tr>
            <tr>
                <td>Flyway</td>
                <td>JS</td> 
            </tr>
            <tr>
                <td>TS</td>
                <td></td> 
            </tr>
            
            
        </tbody>

     </table>

    </div>
  
</div>
