<div class="row" *ngIf="filme">
    <div class="col-12 col-md-8">
        <div class="container" >
           <br>
            <h1 class="display-5" ><strong>{{filme.titulo}}</strong></h1>
            <p><strong> Resumo do filme:</strong> </p>
            <p class="lead text-justify" >{{filme.sinopse}}</p>
            <p><strong>Gênero:</strong></p>
            <p *ngIf="diretor"><strong>Dirigido por: {{diretor.nome}}</strong></p>
            <p><strong>Ano do lançamento do filme: {{filme.ano}}</strong></p>
            <br>
            
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><p><strong><i class="fa-solid fa-paper-plane" style="color: #00ffff;"></i> Escreva seu comentário</strong></p></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <br>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success ml-3">
                        <i class="fa-solid fa-paper-plane"  ></i > Enviar</button>
                
                    <button type="submit" class="btn btn-danger ml-3" (click)="voltarParaLista()">
                        <i class="fa fa-arrow-alt-circle-left" ></i> Voltar </button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-6 col-md-4">
        <div class="container" >
            <p></p>
            <img src="assets/filme-carrossel/oscar.png" class="img-fluid" alt="...">
        </div> 
    </div>
</div>

