<div class="row">
    <div class="col-12 col-md-8">
        <div class="container">
            <h1 class="display-5">Nome do filme</h1>
            <p class="lead text-justify"> Resumo do filme </p>
            <p><em>Gênero:</em></p>
            <p><strong>Dirigido por:</strong></p>
            <p>Ano do lançamento do filme:</p>
            <br>
            
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><i class="fa-solid fa-paper-plane" style="color: #00ffff;"></i> Escreva seu comentário</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-primary">Enviar</button>
            </div>

        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="container" >
            <p></p>
            <img src="assets/filme-carrossel/onça-pequena.png" class="img-fluid" alt="...">
        </div> 
    </div>
</div>

