<div class="row" *ngIf="filme">
    <div class="col-12 col-md-8">
        
            <h1 class="display-5" ><strong>{{filme.titulo}}</strong></h1>
            <p><strong> Resumo do filme:</strong> </p>
            <p class="lead text-justify" >{{filme.sinopse}}</p>
            <div class="container" >
                <br>
                <div class="container">
                 <div class="row">
                   <div class="col">
                    <p class="text-black-50">Gênero: <strong>{{genero.nome}}</strong></p>
                   </div>
                   <div class="col">
                    <p class="text-black-50" Dirigido> Por: <strong>{{diretor.nome}}</strong></p>
                   </div>
                 </div>
                 </div><div class="container">
                     <div class="row">
                       <div class="col - 6">
                        <p class="text-black-50">Ano do lançamento: <strong>{{filme.ano}}</strong></p>
                       </div>
                       <div class="col-6">
                        <p class="text-black-50">Inserido em: <strong>{{filme.data}}</strong></p>
                       </div>
                     </div>
                     </div>
          
            <br>
            <form class="container"  (ngSubmit) = "OnSubmit()" [formGroup] = "postForms" #postForm = "ngForm">
            <div class="form-group">
                <div class="mb-3">
                    <label for="nome" class="form-label"><p><strong>
                        <i class="fa-solid fa-paper-plane" style="color: #00ffff;"></i>
                         Escreva seu comentário</strong></p></label>
                    <input type="text" class="form-control" id="inputMensagem" rows="3" 
                        formControlName = "mensagem" required [(ngModel)]="post.mensagem" name="mensagem"/>
                    
                    <div *ngIf= "id.invalid && postForm.submitted" class="validation-error" >
                        <p *ngIf="mensagem.errors?.['required']">Ainda não escreveu seu comentário</p>
                    </div>
                    <br>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success ml-3">
                            <i class="fa-solid fa-paper-plane"  ></i > Enviar</button>
                    
                        <button type="submit" class="btn btn-danger ml-3" (click)="voltarParaLista()">
                            <i class="fa fa-arrow-alt-circle-left" ></i> Voltar </button>
                    </div>
                </div>
            </div>
         </div>
       </form>
    </div>
    <ul class="list-group">
        <li class=" d-flex justify-content-between align-items-center">
          <a routerLink="/filme-visualiza/{{filme.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">List group item heading</h5>
              <span class="badge badge-primary badge-pill" style="color: #f93943;">1</span>
            </div>
            <p class="mb-1">Donec id elit non mikkkkkkkkkkkkkkkkkkkkkkkkk porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small><br>
            <div class="mb-9">
                <small>3 days ago</small> 
            <small>
                <i class="fa-regular fa-heart" style="color: #f93943;"></i>Curtir
            </small>
            </div>
          </a>
        
        </li>
    </ul>
</div>

    



    <div class="col-6 col-md-4">
        <div class="container" >
            <p></p>
            <img src="assets/filme-carrossel/oscar.png" class="img-fluid" alt="...">
        </div> 
    </div>
</div>

