<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Introdução</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ferramentas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Funcionalidades</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>
 <div class="row">
    <div class="col-12 col-md-8">
        <div class="container">
            <h1><div class="display-5 text-center">Bem vindos! E aí, vamos falar de filmes?</div></h1>
            <br>
            <p class = "lead text-justify">O cinema atualmente é um dos entretenimentos mais vistos no mundo. Gera receitas bilionárias no mundo da arte.
               Apesar das produções serem gigantescas existem diversas categorias de filmes que atendem aos interesses de diferentes públicos.
                Podemos até especular que existem filmes de “muitos para muitos” e de “um para muitos”. As categorias são diversas, porém nessa breve 
                introdução definiria entre os filmes clássicos, contemporâneos, cult, documentário e curtas metragem. 
            </p>
            <p class = "lead text-justify">Como objetivo mais específico, a principal abordagem propõe-se a atender o interesse de um público bem específico; 
                os amantes da sétima arte! Já faz algum tempo que a produção cinematográfica está inserida na nossa cultura e 
                há quem diga que a arte imita a vida. A partir de uma discussão sobre alguns filmes em fóruns nas redes sociais, 
                surgiu a ideia de criar uma plataforma web onde possa agrupar os amantes desta arte para discutir com mais qualidade, 
                compartilhar ideias e sugerir seus filmes, de modo que seja um entretenimento mais definido.
            </p>
        </div>
    </div>
    <div class="col-6 col-md-4">
        
          <br><br><br>
          <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner row">
                <div class="carousel-item active">
                  <img src="assets/filme-carrossel/pulpFiction.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                   
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/filme-carrossel/oIluminado.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/filme-carrossel/laranjaMecanica.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="container">
            <img src="assets/filme-carrossel/apresentacaoTCC.png" >
          </div>
          
   </div>




